<div class="container" align="center">
  <h1>Craigslist Will Take Over!</h1>
    <p>Welcome</p>
    <br>
    <p>Choose an option from the menu to continue:</p>
    <br>
  <form name="route_to" method="POST">
    <select name="cougar">
      <option value="List">List of Categories</option>
      <option value="Listings">List Posts from one Category</option>
      <option value="Posting">Create a Post</option>
      <option value="Edit">Edit Your Page</option>
      <br><input type="submit" value="Submit">
    </select>
  </form>
</div>
