<div class="container">
  <h1>New posting!</h1>

  <form action='/' method="get">
    <p>Title: </p>
      <input type="text">
    <br><p>Price: </p>
      <input type="text">
    <br><p>Description: </p>
      <textarea cols="40" rows="10" name="description">
      </textarea>
      <input type="submit" value="Post">
  </form>
  <br><br>

  <form action="/" method="get">
    <input type="submit" value="Home!">
  </form>
</div>