<div class="container">
  <h1>Let's update your page!</h1>
  <p>Please enter your secret key: </p>
  <br>
  <form action="/" method="get">
    <br>
    <input type="text">
    <input type="submit" value="shhhhh">
  </form><br><br>


  <form action="/" method="get">
    <br>
    <input type="submit" value="Home!">
  </form>
</div>